<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room with Django Channels</title>

  <style>
    .sender {
      background-color: #e0f7fa;
      margin: 10px;
      float: right;
      padding: 8px;
      border-radius: 10px;
      clear: both;
      width: fit-content;
    }

    .receiver {
      background-color: #ffccbc;
      margin: 10px;
      float: left;
      padding: 8px;
      border-radius: 10px;
      clear: both;
      width: fit-content;
    }

    #messages {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <h1>Chat Room</h1>
  <!-- Injected in <body> -->
  <!-- <input type="hidden" id="username" value="lokeshsaini.eng">
  <input type="hidden" id="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzUzMjcyNzg0LCJpYXQiOjE3NTMyNjkxODQsImp0aSI6ImFhNGE4ODMxMjlkMDRiY2NiMjZjMDFiM2FmNWVlOGZhIiwidXNlcl9pZCI6Mn0.FTQTo8fXrBW1tks1x-7dqpxPHF9kMCL5Z3xT54WQd0k"> -->

  <input type="hidden" id="username" value="lakkubhai.153">
  <input type="hidden" id="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzUzMjcyNjYwLCJpYXQiOjE3NTMyNjkwNjAsImp0aSI6ImYyNTAxOWZkYjk5YjQ4OTVhMjRkODZhNDE1M2Y3MDc5IiwidXNlcl9pZCI6MX0.kbkcT0hU_-3VVEX5NjeJC2tZmflJLZ_E-3LaL13GNuU">


  <!-- Chat message display area -->
  <div id="messages"></div>

  <!-- Chat input form -->
  <form id="chat-form">
    <input type="text" id="chat-message-input" placeholder="Type a message..." autocomplete="off" required>
    <button type="submit">Send</button>
  </form>

  <!-- JavaScript -->
  <script>
    const senderName = document.getElementById('username').value;
  const token = document.getElementById('token').value;
const otherUser = "{{ other_username }}";


    const chatSocket = new WebSocket(
      `ws://${window.location.host}/ws/chat/{{ other_username }}/?token=${token}`
    );
    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      if (data.type === 'chat') {
        const messagesDiv = document.getElementById('messages');
        const cssClass = (data.sender === senderName) ? 'sender' : 'receiver';
        messagesDiv.insertAdjacentHTML('beforeend',
          `<div class="${cssClass}"><p>${data.sender}: ${data.message}</p></div>`
        );
      }
    };

    document.getElementById('chat-form').onsubmit = function (e) {
      e.preventDefault();
      const input = document.getElementById('chat-message-input');
      const message = input.value.trim();
      if (message) {
        chatSocket.send(JSON.stringify({ 'message': message }));
        input.value = '';
      }
    };
  </script>

</body>

</html>